@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::wibkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-text-overflow-style: none;
    scrollbar-width: none;
}

.blog-content-b {
    margin-bottom: 10px;
    font-weight: 500;
}

.blog-content-h1 {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 26px;
}

.blog-content-h2 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 22px;
}

.blog-content-h3 {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
}

.blog-content-p {
    margin-bottom: 10px;
}